@model Vidly.ViewModels.RandomMovieViewModel


@{
    ViewBag.Title = "GenerateRandomFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.name</h2>
<h3>@Model.Movie.price</h3>
<h3>@Model.Customers</h3>

