@using Vidly.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div>
    <h1>Customer</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customers</th>
            </tr>
        </thead>
    </table>
</div>


<!--List of functions-->
@functions{ 

    public void displayTable()
    {

    }


}